
<nav class="navbar navbar-expand-lg static-top">
    
    <span class="navbar-brand" href="#">
        Best Movies WebSite Everr !!
    </span>

    <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
        <a href="#">
            <li class="nav-item active">
                <span>Home</span>
            </li>   
        </a>

        <a href="#">
            <li class="nav-item active">
                <span>What's New ?</span>
            </li>   
        </a>

        <a href="#">
            <li class="nav-item active">
                <span>About</span>
            </li>   
        </a>

        <a href="#">
            <li class="nav-item active">
                <span>Join Us !</span>
            </li>   
        </a>
    </ul>
    </div>      

</nav>

<div class="Image">            
</div>

<div class="container">

</div>
